
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.btn {
    background-color: var(--color-black);
    color: var(--color-primary);
    border-radius: 12px;
    padding: 10px 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}